.puntaje {
    font-size: 10vw ;
    color:#0070c2;
  }

  .jugadores{
    padding: 0;
  }

  .fJugadores{
    margin:0;
    border-radius: 20px;
  }

  .likeBtn{
    border-radius: 20em;
    text-align: center;
  }